/* layout/sidebar.scss */

.sidebarArea {
  flex-shrink: 0;
  width: var(--sidebar-width);
  background-color: var(--sidebar-bg);
  color: var(--body-color);

  .sidenav-bg:hover {
    background-color: var(--light);
    border-radius: var(--border-radius);
  }

  .sidenav-bg .active {
    background-color: var(--primary);
    border-radius: var(--border-radius);
    color: var(--body-bg);
  }
}

@include media-breakpoint-down(lg) {
  .sidebarArea {
    position: absolute;
    width: 100%; // Full width on mobile
    top: 60px; // Adjust this value based on your header height
    left: 0;
    height: calc(100% - 60px); // Fill the remaining height below the header
    overflow: auto;
    z-index: 1;
    transform: translateY(-100%); // Initially hidden
    transition: transform 0.3s ease-in-out;

    &.showSidebar {
      transform: translateY(0); // Slide down when shown
    }
  }

  .contentArea {
    margin-top: 60px; // Ensure content starts below the header in mobile view
  }
}
